
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/form.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="path/to/dist/feather.js"></script>
    <link rel="stylesheet" href="~/Content/materialize.min.js">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/dashboard.js" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="generator" content="Jekyll v3.8.5">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/modulo.css" rel="stylesheet" />
    <title> Dashboard - Worldcell</title>
    <link href="~/Content/jquery.js" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Venda", "Modulos")">
                                <span data-feather="shopping-cart"></span>
                                Venda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CadastroPessoa", "Modulos")">
                                <span data-feather="users"></span>
                                Cadastro
                            </a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CompraProduto", "Modulos")">
                                <span data-feather="bar-chart-2"></span>
                                Compra
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ListaProduto", "Modulos")">
                                <span data-feather="layers"></span>
                                Produtos
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"></h6>
                    <ul class="nav flex-column mb-2"></ul>
                </div>
            </nav>
        </div>
    </div>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Retorna", "Venda")">WorldCell</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Procurar" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Retorna", "Venda")">Voltar</a>
            </li>
        </ul>
    </nav>




    <div class="py-5"></div>
    <div id="botao-novo-produto">

        <button data-toggle="modal" data-target="#ExemploModalCentralizado" name="Cadastrar" class="btn btn-success" type="Submit">Novo Usuário</button>


    </div>
    <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="row">

                        <form action="/Usuario/Adiciona" method="post" action"." method="get" id="form-pessoas">
                            <h4 class="mb-3">Cadastro</h4>
                            <div class="row">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="">Nome</label>
                                    <div class="col-md-12">
                                        <input id="nome" name="nome" type="text" placeholder="Nome" class="form-control input-md" required="">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="cpf">Senha</label>
                                    <div class="col-md-auto">
                                        <input id="senha" name="senha" type="password" placeholder="Senha" class="form-control input-md" required="">

                                    </div>
                                </div>
                            </div>
                            <!-- Multiple Radios -->
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="sexo">Sexo</label>
                                    <div class="col-md-auto">
                                        <div class="radio">
                                            <label for="sexo-0">
                                                <input type="radio" name="sexo" id="sexo-0" value="1" checked="checked">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="sexo-1">
                                                <input type="radio" name="sexo" id="sexo-1" value="2">
                                                Feminino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-primary" value="Cadastrar" />
                        </form>
                    </div>
                            
                   
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/Produto/Excluir" method="delete" id="form-produto">


        <table class="table table-hover table-condensed" id="form-produto">
            <thead>

                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Senha</th>
                    <th>Ações</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in ViewBag.Usuario)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Senha</td>                     
                        <td>
                            <input type="submit" class="btn btn-danger" value="Excluir" />
                            <button type="button" class="btn btn-primary">Atualizar</button>
                        </td>

                    </tr>
                }


        </table>

        <div class="py-3">

        </div>


    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
