
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    
    <link href="~/Content/form.css" rel="stylesheet" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body class="bg-light">
    <div>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Retorna", "Venda")">WorldCell</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Procurar" aria-label="Search">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="@Url.Action("Retorna", "Venda")">Voltar</a>
                </li>
            </ul>

        </nav>
    </div>

    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Venda", "Modulos")">
                        <span data-feather="shopping-cart"></span>
                        Venda
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CadastroPessoa", "Modulos")">
                        <span data-feather="users"></span>
                        Cadastro
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CompraProduto", "Modulos")">
                        <span data-feather="bar-chart-2"></span>
                        Compra
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ListaProduto", "Modulos")">
                        <span data-feather="layers"></span>
                        Produtos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Relatorios", "Modulos")">
                        <span data-feather="bar-chart-2"></span>
                        Relatórios
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"></h6>
            <ul class="nav flex-column mb-2"></ul>
        </div>
    </nav>
   

    <div class="container">
        <div class="py-2 text-center">


        </div>
        <form action="/RequisicaoCompra/Index" id="form-compra">
            <h4 class="mb-3">Compra</h4>
            
            <div class="col-md-8 order-md-1">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Produto">Produto</label>
                        <input type="text" class="form-control" id="Produto" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Categoria</label>
                        <select id="inputState" class="form-control">
                            <option selected></option>

                            <option>Acessório</option>
                            <option>Eletrônico</option>
                            <option>Peça</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email do Fornecedor</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="" >
                  
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Observações</label>
                    <input type="text" class="form-control" id="inputObs">
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome">Data</label>
                        <input type="date" class="form-control" id="data" placeholder="" value="" required>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputfunc">Funcionário</label>
                        <select id="inputfunc" class="form-control">
                            <option selected></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputQnt">Quantidade</label>
                        <input type="number" class="form-control" id="inputQnt">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Fazer Pedido</button>
            </div>
        </form>
    </div>


</body>
</html>
