
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebLoja2.Models.Venda


<html lang="pt-br">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/form.css" />


    <!-- Principal CSS do Bootstrap -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Retorna", "Venda")">WorldCell</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Procurar" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Retorna", "Venda")">Voltar</a>
            </li>
        </ul>
    </nav>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Venda", "Modulos")">
                        <span data-feather="shopping-cart"></span>
                        Venda
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CadastroPessoa", "Modulos")">
                        <span data-feather="users"></span>
                        Cadastro
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CompraProduto", "Modulos")">
                        <span data-feather="bar-chart-2"></span>
                        Compra
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ListaProduto", "Modulos")">
                        <span data-feather="layers"></span>
                        Produtos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Relatorios", "Modulos")">
                        <span data-feather="bar-chart-2"></span>
                        Relatórios
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"></h6>
            <ul class="nav flex-column mb-2"></ul>
        </div>
    </nav>
    <div class="container">
        <div class="py-2 text-center">



        </div>

        <div class="row">

            <div class="col-md-8 order-md-1">
                
                <form id="form-venda" class="nav-link" novalidate>
                    <h4 class="mb-3">Venda</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Nome">Produto</label>
                            <input type="text" class="form-control" id="produto" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                É obrigatório inserir um nome válido.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Valor">Valor</label>
                            <input type="number" class="form-control" id="valor" placeholder="" value="" required>

                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="descricao">Descrição <span class="text-muted">(Opcional)</span></label>
                        <input type="email" class="form-control" id="descricao" placeholder="Descrição">
                        <div class="invalid-feedback">
                            Por favor, insira uma descrição válida.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="modelo">Modelo</label>
                            <select class="custom-select d-block w-100" id="categoria" required>
                                <option value="">Escolha...</option>
                                <option>Apple</option>
                                <option>Samsung</option>
                                <option>Lenovo</option>
                                <option>Motorola</option>
                                <option>Xiaomi</option>
                                <option>Asus</option>
                                <option> Outro </option>
                            </select>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="de">Categoria</label>
                            <select class="custom-select d-block w-100" id="categoria" required>
                                <option value="">Escolha...</option>
                                <option>Acessório</option>
                                <option>Capa</option>
                                <option>Eletrônico</option>
                            </select>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Nome">Data</label>
                            <input type="date" class="form-control" id="data" placeholder="" value="" required>

                        </div>
                    </div>
                    <hr class="mb-4">

                    <hr class="mb-4">

                    <h4 class="mb-3">Pagamento</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credito" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                            <label class="custom-control-label" for="credito">Cartão de crédito</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debito" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debito">Cartão de débito</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="paypal">Dinheiro</label>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-nome">Nome no cartão</label>
                            <input type="text" class="form-control" id="cc-nome" placeholder="" required>
                            <small class="text-muted">Nome completo, como mostrado no cartão.</small>
                            <div class="invalid-feedback">
                                O nome que está no cartão é obrigatório.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-numero">Número do cartão de crédito</label>
                            <input type="text" class="form-control" id="cc-numero" placeholder="" required>
                            <div class="invalid-feedback">
                                O número do cartão de crédito é obrigatório.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiracao">Data de expiração</label>
                            <input type="text" class="form-control" id="cc-expiracao" placeholder="" required>
                            <div class="invalid-feedback">
                                Data de expiração é obrigatória.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Código de segurança é obrigatório.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Efetuar Venda</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2018-2019 WorldCell</p>
            <ul class="list-inline"></ul>
        </footer>
    </div>

    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
                var forms = document.getElementsByClassName('needs-validation');

                // Faz um loop neles e previne envio
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>
</html>